@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.primary-gradient {
  background: linear-gradient(to right, #003a5d, #99b81a);
}

.launching-gradient {
  background: linear-gradient(to bottom right, #003a5d, #99b81a);
}



.marquee {
  animation: marquee 18s linear infinite;
}

.marquee-wrapper:hover .marquee {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.stroke-text {
  color: transparent;
  -webkit-text-stroke: 2px #99b81a;
}

.marquee-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-primary {
  background-color: #99b81a;
}

.bg-primary-transparent {
  background-color: hsla(72, 75%, 41%, 0.60);
}

.text-primary {
  color: #99b81a;
}

.border-primary {
  border-color: #99b81a;
  ;
}